body { 
    margin: 0; padding: 0; 
    font-family: Arial;
    background-color: whitesmoke; 
}

article { padding: 30px; }
p { padding: 5px; }

nav { 
    position: fixed;
    box-sizing: border-box;
    width: 30%; height: 100%; 
    background-color: grey;
    top: 0;
    transition: -webkit-transform .25s linear;
    z-index: 4;
}

nav:not(.left) {
    padding-right: 20px;
    right: calc(-30% + 30px);
    text-align: right;
}

nav::after {
    content: "Menu";
    font-size: 1.5em;
    width: 25px; height: 25px;
    position: absolute;
    color: white;
    top: 10px; 
}
nav:not(.left)::after {
    left: 5px;
    -webkit-transform: rotate(-90deg) translate(-50px, -5px);
}
nav:hover {
    -webkit-transform: translateX(-50%);
}

.link {
    display: block;
    padding: 10px; 
}

.left { 
    width: 33%;
    padding-left: 20px;
    left: calc(-30% + 20px);
    text-align: left; 
}
.left::after {
    right: 5px;
    -webkit-transform: rotate(90deg) translate(50px, -5px);
}
.left:hover {
    -webkit-transform: translateX(50%);
}

.pop {
    position: fixed;
    background-color: gainsboro;
    text-align: center;
    bottom: 0;
    width: 100%;
}

[class^="btn-"] {
    position: relative;
    padding: 8px;
    bottom: 15px;
    border-radius: 5px;
    border: 0;
    font-size: 1.2em;
    color: linen;
    -webkit-transition: box-shadow .25s ease-in;
    -moz-transition: box-shadow .25s ease-in;
    -ms-transition: box-shadow .25s ease-in;
    -o-transition: box-shadow .25s ease-in;
    transition: box-shadow .25s ease-in;
    cursor: pointer; 
}
[class^="btn-"]:hover {
    box-shadow: 0 0 8px gray inset;
}
.btn-left {
    background-color: seagreen;
    float: left;
    left: 40px
}
.btn-right {
    background-color: tomato;
    float: right;
    right: 40px;
}